openai>=1.76.0
pandas>=2.2.0
praw>=7.8.0
tweepy>=4.15.0
yfinance>=0.2.56
requests>=2.32.0
beautifulsoup4>=4.13.0
matplotlib>=3.10.0
seaborn>=0.13.0
scikit-learn>=1.6.0
python-dotenv>=1.1.0 
data~=0.4
numpy~=2.2.5
transformers~=4.51.3